.git
.gitignore
.env
.env.backup
.env.production
vendor
node_modules
npm-debug.log
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.phpunit.result.cache
.phpactor.json
.idea
.vscode
.DS_Store
Thumbs.db

